{% extends '../store/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container mt-5 mb-5">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-md-6">
                            <form class="card px-5 py-5" action="." method="post">
                                {% csrf_token %}
                                <h3 class="mb-2 font-weight-bold text-center pb-4">Login to an account</h3>
                                {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    Error: Incorrect username or password
                                </div>
                                {% endif %}
                                <div class="form-input pb-2">{{ form.username }}</div>
                                <div class="form-input pb-2">{{ form.password }}</div> 
                                <div class="text-center">
                                    <button class="btn btn-primary mt-4 signup" type="submit" style="width: 150px;">Login</button>
                                </div>
                                <div class="text-center mt-4"> <span>Don't have an account yet?</span> <a href="{% url 'account:register' %}" class="text-decoration-none">Register</a> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}