{% extends 'store/base.html' %}
{% load static %}
{% block title %}All Products{% endblock %}
{% block nav-home %}
    text-white
{% endblock %}
{% block nav-products %}
    text-secondary
{% endblock %}
{% block content %}
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">All products</h1>
          <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in commodo neque. Sed vitae erat porttitor, dignissim ante at, dictum risus. Cras ut sapien congue, elementum ligula vel, finibus diam.</p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
        {% for product in products %}
          <div class="col">
            <div class="card shadow-sm">
              <a href="{% url 'store:item' product.slug %}"><img src="{{ product.image.url }}" class="img-fluid" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></a>
              <div class="row card-body">
                <div class="col-12 card-title">
                  <h5 class="product-title">{{ product.title }}</h5>
                </div>
                <div class="col-12 d-flex ifstock justify-content-between align-items-center pb-3">
                  <div class="ifstock-container">
                    <p class="card-text d-inline">
                      {% if product.in_stock == False %}
                        Out of Stock
                      {% else %}
                        In Stock
                      {% endif %}
                    </p>
                  </div>
                  <div class="price-container">
                    <p class="d-inline">${{ product.price }}</p>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-between align-items-center">
                  <div class="col-12 btn-group">
                  {% if user.is_authenticated %}
                    {% if product.in_stock == False %}
                    <button type="button" data-index="{{product.id}}" class="single btn btn-sm btn-outline-secondary btn-product wishlst wishlist-add">Add to wishlist</button>
                    {% else %}
                    <button type="button" data-index="{{product.id}}" class="btn btn-sm btn-outline-secondary btn-product wishlist-add">Add to wishlist</button>
                    <button type="button" data-index="{{product.id}}"
                    class="btn btn-sm btn-outline-secondary btn-product auth-add-button">Add to basket</button>
                    {% endif %}
                  {% else %}
                    {% if product.in_stock == False %}
                    <div class="col-12 btn-group">
                      <button type="button" data-index="{{product.id}}" class="single btn btn-sm btn-outline-secondary btn-product wishlst notauth-wishlist-add">Add to wishlist</button>
                    </div>
                    {% else %}
                    <div class="col-12 auto-group btn-group">
                      <button type="button" data-index="{{product.id}}" class="btn btn-sm btn-outline-secondary btn-product notauth-wishlist-add">Add to wishlist</button>
                      <button type="button" data-index="{{product.id}}"
                      class="btn btn-sm btn-outline-secondary btn-product add-button">Add to basket</button>
                    </div>
                    {% endif %}
                  {% endif %}
                </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
</main>
<script>
    $(document).on('click', '.add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: $(this).data('index'),
                quantity: '1',
                size: '38',
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post',
            },
            success: function (json) {
                document.getElementById("basket-count").innerHTML = json.quantity
            },
            error: function (xhr, errmsg, err) {}
        });
    })

    $(document).on('click', '.notauth-wishlist-add', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "wishlist:not_auth_wishlist_add" %}',
            data: {
                itemid: $(this).data('index'),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post',
            },
            success: function (json) {},
            error: function (xhr, errmsg, err) {}
        });
    })

    $(document).on('click', '.wishlist-add', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "wishlist:wishlist_add" %}',
            data: {
                itemid: $(this).data('index'),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post',
            },
            success: function (json) {},
            error: function (xhr, errmsg, err) {}
        });
    })

    $(document).on('click', '.auth-add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:auth_basket_add" %}',
            data: {
                itemid: $(this).data('index'),
                quantity: '1',
                size: '38',
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post',
            },
            success: function (json) {},
            error: function (xhr, errmsg, err) {}
        });
    })

    $(window).ready(function() {
      if ($(window).width() <= 490) {
        Array.from(document.querySelectorAll('.auto-group')).forEach(elem => {
          elem.className = 'col-12 auto-group btn-group-vertical';
        });
      }
      else {
        Array.from(document.querySelectorAll('.auto-group')).forEach(elem => {
          elem.className = 'col-12 auto-group btn-group';
        });
      }
    });

    $(window).resize(function() {
      if ($(window).width() <= 490) {
        Array.from(document.querySelectorAll('.auto-group')).forEach(elem => {
          elem.className = 'col-12 auto-group btn-group-vertical';
        });
      }
      else {
        Array.from(document.querySelectorAll('.auto-group')).forEach(elem => {
          elem.className = 'col-12 auto-group btn-group';
        });
      }
    });
</script>
{% endblock %}