{% extends 'store/base.html' %}
{% load static %}
{% block title %}CART TEST{% endblock %}
{% block nav-home %}
text-white
{% endblock %}
{% block content %}
	{% if order.orderitem_set.all %}
	<div class="container my-5 border">
		<a class="btn btn-outline-dark my-4" onclick="Previous()">&#x2190; Continue Shopping</a>
		<h2>Your Basket</h2>
		<h4>Total: {{ get_basket_total }}</h4>
		<div class="row mt-4">
			<div class="col-9 col-md-8">
				<section class="items">
					{% for item in order.orderitem_set.all %}
						<div class="item border row">
							<div class="col-4">
								<img class="img-fluid" src="{{ item.product.image.url }}">
							</div>
							<div class="col-6 p-2">
								<h5>{{item.product.title}}</h5>
								<br>
								<h6>Size: {{item.size}}</h6>
								<h6>Quantity: {{item.quantity}}</h6>
							</div>
							<div class="col-2 p-2">
								<h5>${{item.product.price}}</h5>
							</div>
						</div>
					{% endfor %}
				</section>
			</div>
			<div class="col-3 col-md-4 border p-2">
				<h5>PAYMENTS</h5>
			</div>
		</div>
	{% else %}
		<h1 style="text-align:center;padding: 100px">No Items in cart</h1>
	{% endif %}
	</div>
	<script>
        function Previous() {
            window.history.back()
        }
    </script>
{% endblock content %}