{% extends 'store/base.html' %}
{% load static %}
{% block title %}{{ category_show.name }}{% endblock %}
{% block nav-home %}
text-white
{% endblock %}
{% block nav-products %}
text-secondary
{% endblock %}
{% block content %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ category_show.name }}</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in commodo neque.
          Sed vitae erat porttitor, dignissim ante at, dictum risus. Cras ut sapien congue, elementum ligula vel,
          finibus diam.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
        {% for product in products %}
        <div class="col">
          <div class="card shadow-sm">
            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="img-fluid" role="img"
                preserveAspectRatio="xMidYMid slice" focusable="false"></a>
            <div class="card-body">
              <h4>{{ product.title|title }}</h4>
              <p class="card-text">
                {% if product.in_stock == False %}
                Out of Stock
                {% else %}
                In Stock
                {% endif %}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary btn-product">Buy now</button>
                  <button type="button" id="add-button" value="{{product.id}}"
                    class="btn btn-sm btn-outline-secondary btn-product">Add to basket</button>
                </div>
                <strong class="text-muted">${{ product.price }}</strong>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
<script type="text/javascript">
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function uuidv4() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
      var r = Math.random() * 16 | 0,
        v = c == 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }

  let device = getCookie('device')

  if (device == null || device == undefined) {
    device = uuidv4()
  }

  document.cookie = 'device=' + device + ";domain=;path=/"

</script>
{% endblock %}