{% extends 'store/base.html' %}
{% load static %}
{% block title %}{{ product.title }}{% endblock %}
{% block nav-home %}
text-white
{% endblock %}
{% block content %}
<section class="mb-5">
    <div class="row">
        <div class="col-12 px-5 pt-5">
            <a class="btn btn-outline-dark ml-5" onclick="Previous()">&#x2190; Back</a>
        </div>
        <div class="col-md-6 p-5">
            <img class="img-fluid item-image" src="{{ product.image.url }}">
        </div>
        <div class="col-md-6 p-5">
            <h5>{{ product.title }}</h5>
            <p><span class="mr-1"><strong>${{product.price}}</strong></span></p>
            <p class="pt-1">{{ product.description }}</p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
                            <td>NMD_R1</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                            <td>Black</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
                            <td>USA, Europe</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="table-responsive mb-2">
                <form method="POST" action="{% url 'store:item' product.slug product.id %}">
                    {% csrf_token %}
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td class="pb-0">Select size</td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="size" id="size-select">
                                        <option value="38">38</option>
                                        <option value="39">39</option>
                                        <option value="40">40</option>
                                        <option value="41">41</option>
                                        <option value="42">42</option>
                                        <option value="43">43</option>
                                        <option value="44">44</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% if product.in_stock == False %}
                        <h4 class="py-3">Out of Stock</h4>
                        {% else %}
                            <button type="button" class="btn btn-dark btn-md mr-1 mt-3 mb-2">Buy now</button>
                            <button type="submit" id="add-button" class="btn btn-secondary btn-md mt-3 mr-1 mb-2">Add to basket
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                                </svg>
                            </button>
                    {% endif%}
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function Previous() {
        window.history.back()
    }
</script>
{% endblock %}