{% extends 'store/base.html' %}
{% load static %}
{% block title %}{{ product.title }}{% endblock %}
{% block nav-home %}
    text-white
{% endblock %}
{% block content %}
<section class="mb-5">
    <div class="row">
        <div class="col-md-6 p-5">
            <img class="img-fluid item-image" src="{{ product.image.url }}">
        </div>
        <div class="col-md-6 p-5">
            <h5>{{ product.title }}</h5>
            <p><span class="mr-1"><strong>${{product.price}}</strong></span></p>
            <p class="pt-1">{{ product.description }}</p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                <tbody>
                    <tr>
                    <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
                    <td>NMD_R1</td>
                    </tr>
                    <tr>
                    <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                    <td>Black</td>
                    </tr>
                    <tr>
                    <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
                    <td>USA, Europe</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <hr>
            <div class="table-responsive mb-2">
                <table class="table table-sm table-borderless">
                <tbody>
                    <tr>
                    <td class="pl-0 pb-0 w-25">Quantity</td>
                    <td class="pb-0">Select size</td>
                    </tr>
                    <tr>
                    <td class="pl-0"><select name="quantity" id="quantity-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    </td>
                    <td>
                        <div class="mt-1">
                            <div class="form-check form-check-inline pl-0">
                                <input type="radio" class="form-check-input" id="small" name="size-38" checked>
                                <label class="form-check-label small text-uppercase card-link-secondary"
                                for="small">38</label>
                            </div>
                            <div class="form-check form-check-inline pl-0">
                                <input type="radio" class="form-check-input" id="medium" name="size-39">
                                <label class="form-check-label small text-uppercase card-link-secondary"
                                for="medium">39</label>
                            </div>
                            <div class="form-check form-check-inline pl-0">
                                <input type="radio" class="form-check-input" id="large" name="size-40">
                                <label class="form-check-label small text-uppercase card-link-secondary"
                                for="large">40</label>
                            </div>
                            <div class="form-check form-check-inline pl-0">
                                <input type="radio" class="form-check-input" id="large" name="size-41">
                                <label class="form-check-label small text-uppercase card-link-secondary"
                                for="large">41</label>
                            </div>
                            <div class="form-check form-check-inline pl-0">
                                <input type="radio" class="form-check-input" id="large" name="size-42">
                                <label class="form-check-label small text-uppercase card-link-secondary"
                                for="large">42</label>
                            </div>
                            <div class="form-check form-check-inline pl-0">
                                <input type="radio" class="form-check-input" id="large" name="size-43">
                                <label class="form-check-label small text-uppercase card-link-secondary"
                                for="large">43</label>
                            </div>
                            <div class="form-check form-check-inline pl-0">
                                <input type="radio" class="form-check-input" id="large" name="size-44">
                                <label class="form-check-label small text-uppercase card-link-secondary"
                                for="large">44</label>
                            </div>
                        </div>
                    </td>
                    </tr>
                </tbody>
                </table>
                {% if product.in_stock == False %}
                    <h4 class="py-3">Out of Stock</h4>
                {% else %}
                    <button type="button" class="btn btn-dark btn-md mr-1 mt-3 mb-2">Buy now</button>
                    <button type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-md mt-3 mr-1 mb-2">Add to basket
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                        </svg>
                    </button>
                {% endif%}
            </div>
        </div>
    </div>
</section>
<script>
    $(document).on('click', '#add-button', function(e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "basket:basket_add" %}',
        data: {
          productid: $('#add-button').val(),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post',
        },
        success: function (json) {

        },
        error: function (xhr, errmsg, err) {

        },
      });
    })
  </script>
{% endblock %}