{% extends 'store/base.html' %}
{% load static %}
{% block title %}Order has been placed{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container mt-5 mb-5">
                    <div class="row d-flex align-items-center justify-content-center p-5 border">
                        <div class="col-md-6 text-center">
                            <h6>Order has been placed.
                                Checkout your <a href="{% url 'orders:dashboard' %}">Dashboard</a> and email.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}