{% extends '../../store/base.html' %}
{% load static %}
{% block title %}Reset completed{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container my-5 border rounded p-3">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-md-6 text-center">
                            <h4>Your password has been changed.</h4>
                            <a href="{% url 'account:login' %}" class="h5">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}