{% extends '../../store/base.html' %}
{% load static %}
{% block title %}Email sent{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container my-5 border rounded p-3">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-md-6 text-center">
                            <h4>Email sent!</h4>
                            <h6>An email to confirm reset your password has been sent. Check your email.
                                Just click on the link in that email to confirm password reset.
                                If you don't see it, you may need to check your spam folder.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}